#about {
  background: lightskyblue;
  height: 100vh;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-container h1 {
  display: flex;
  font-size: 30px;
  font-weight: 600;
  color: orangered;
  margin-top: 50px;
}

.about-me {
  display: grid;
  grid-template-columns: 35% 60%;
  gap: 20%;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.about-me-image {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  background: linear-gradient(45deg, transparent, orangered);
  place-items: center;
  margin-left: 50px;
  margin-top: 20px;
}

.about-me-image > img {
  width: 110%;
  height: 110%;
  object-fit: cover;
}

.about-description {
  display: grid;
  grid-template-columns: 70%;
  gap: 20%;
}

.about-description p {
  font-size: 1.9rem;
  font-weight: 500;
  color: black;
  margin-left: -120px;
  margin-top: -70px;
}

.about-readmore {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 30px;
  margin-right: 400px;
  color: white;
  border-radius: 50px;
  padding: 10px 20px;
}

.about-readmore:hover {
  background: orangered;
}
